---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button, { ButtonType } from "../../components/Button.astro";
import { getCollection } from "astro:content";
import Hero from "../../components/Hero.astro";
import NextTalkCallout from "../../components/NextTalkCallout.astro";
import Section from "../../components/Section.astro";
import RecentTalksCallout from "../../components/RecentTalksCallout.astro";
import RecentTalks from "../../components/RecentTalks.astro";
import HLineText from "../../components/HLineText.astro";
import Testimonials from "../../components/Testimonials.astro";
import SpeakerFormCallout from "../../components/SpeakerFormCallout.astro";

export const prerender = true;

const testimonials = await getCollection("testimonial");
const title = "Topics";
const subtitle = "What do I talk about?";

interface Topic {
  title: string;
  description: string;
  icon: string;
}
const topics: Topic[] = [
  {
    title: "Personal Brand",
    description: `Your personal brand is the most valuable asset you will ever own. My personal brand enabled me to work for myself while pursuing my passion of teaching others through Content Creation.`,
    icon: "ph:star-light",
  },
  {
    title: "Developer Careers",
    description: `We are solely responsible for what happens in our career. I encourage others to take control of their career while pursuing happiness, whatever that may look like for them.`,
    icon: "healthicons:low-bars-outline",
  },
  {
    title: "Modern Web Development",
    description: `The Web Development ecosystem is constantly evolving. I love spending time learning about the latest frameworks, methodologies, and tools, and I'm eager to share those learnings with the community.`,
    icon: "ic:baseline-computer",
  },
];
---

<BaseLayout>
  <Hero
    title="Speaking"
    tagline="I use my voice to teach and inspire developers."
  >
    <div class="flex flex-col gap-y-4 sm:flex-row gap-x-4 my-8">
      <Button
        text="What I talk about"
        href="#whatToExpect"
        isLink
        type={ButtonType.SECONDARY}
      />
      <Button
        text="Book me to speak"
        href="#speakerForm"
        isLink
        type={ButtonType.PRIMARY}
      />
    </div>
  </Hero>
  <NextTalkCallout />
  <div id="whatToExpect" class="pt-10">
    <Section title={title} subtitle={subtitle}>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        {
          topics.map((topic) => (
            <div class="flex-row max-w-xl">
              <Icon name={topic.icon} class="h-16 opacity-80 mb-4" />

              <p class="text-brand text-lg font-bold mb-2">{topic.title}</p>
              <p>{topic.description}</p>
            </div>
          ))
        }
      </div>
    </Section>
  </div>
  <RecentTalksCallout />
  <Section classStr="mt-40 mb-0 pb-0 ">
    <HLineText text="More talks" />
  </Section>

  <RecentTalks />
  <Testimonials />
  <div class="my-20">
    <HLineText />
  </div>
  <div id="speakerForm">
    <SpeakerFormCallout />
  </div>

  <!-- <section class="my-24" id="speakerForm">
    <div class="grid lg:grid-cols-2 gap-10 items-center">
      <div>
        <h2 class="text-6xl mb-10">Want Me To Speak At Your Event?</h2>
        <Image
          src={speaking}
          alt="James speaking at All Things Open conference"
        />
      </div>
    </div>
  </section> -->
</BaseLayout>
