---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Testimonials from "../../components/Testimonials.astro";
import SpeakerFormCallout from "../../components/SpeakerFormCallout.astro";
import SpeakingHero from "../../components/speaking/SpeakingHero.astro";
import SpeakingStats from "../../components/speaking/SpeakingStats.astro";
import SpeakingFeaturedTalk from "../../components/speaking/SpeakingFeaturedTalk.astro";
import SpeakingAbout from "../../components/speaking/SpeakingAbout.astro";
import SpeakingGallery from "../../components/speaking/SpeakingGallery.astro";
import SpeakingEventCta from "../../components/speaking/SpeakingEventCta.astro";
import {
  speakingHero,
  speakingStats,
  featuredTalk,
  speakingAbout,
  speakingGallery,
  eventCta,
  speakerKitLinks,
} from "../../data/speakingPage";

export const prerender = true;

const favoriteTalks = (await getCollection("talk"))
  .filter((talk) => Boolean(talk.data.youTubeVideoId))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .map((talk) => {
    const youtubeId = talk.data.youTubeVideoId!;
    return {
      title: talk.data.title,
      youtubeId,
      href: `https://www.youtube.com/watch?v=${youtubeId}`,
      month: talk.data.pubDate.toLocaleString("en-US", { month: "long" }),
      year: talk.data.pubDate.getFullYear(),
    };
  });
---

<BaseLayout>
  <SpeakingHero {...speakingHero} />
  <SpeakingStats stats={speakingStats} />
  <SpeakingFeaturedTalk {...featuredTalk} talks={favoriteTalks} />
  <SpeakingAbout {...speakingAbout} />
  <Testimonials />
  <SpeakingGallery items={speakingGallery} />
  <SpeakingEventCta {...eventCta} />
  <div id="speakerForm">
    <SpeakerFormCallout kitLinks={speakerKitLinks} />
  </div>
</BaseLayout>