---
import { Icon } from "astro-icon/components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button, { ButtonType } from "../../components/Button.astro";
import { getCollection } from "astro:content";
import Hero from "../../components/Hero.astro";
import NextTalkCallout from "../../components/NextTalkCallout.astro";
import Section from "../../components/Section.astro";
import FeaturedTalksCallout from "../../components/FeaturedTalksCalllout.astro";
import RecentTalks from "../../components/RecentTalks.astro";
import HLineText from "../../components/HLineText.astro";
import Testimonials from "../../components/Testimonials.astro";
import SpeakerFormCallout from "../../components/SpeakerFormCallout.astro";
import SectionHeader from "@components/SectionHeader.astro";

export const prerender = true;

const testimonials = await getCollection("testimonial");
const title = "Topics";
const subtitle = "What do I talk about?";

interface Topic {
  title: string;
  description: string;
  icon: string;
}
const topics: Topic[] = [
  {
    title: "Brand and Careers",
    description: `I believe your career is solely in your control. I want you to find happiness in your career, whatever that may look like for you.`,
    icon: "mdi:star-box",
  },
  {
    title: "Developer Experience",
    description: `I've worked in the developer community my entire career. I love building tools and experiences that make developers' lives easier.`,
    icon: "mdi:account",
  },
  {
    title: "Modern Web Development",
    description: `I love learning about the latest frameworks, methodologies, and best practices, and I'm eager to share those learnings with you.`,
    icon: "mdi:laptop",
  },
];
---

<BaseLayout>
  <Hero title="Speaking" tagline="International keynote speaker."/>
  <NextTalkCallout />
  <div id="whatToExpect" class="pt-10">
    <Section title={title} subtitle={subtitle}>
        <SectionHeader title={title} subtitle={subtitle} />
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        {
          topics.map((topic) => (
            <div class="flex-row max-w-xl">
              <Icon size={40} name={topic.icon} class="opacity-80 mb-4" />
              <p class="text-brand text-lg font-bold mb-2">{topic.title}</p>
              <p>{topic.description}</p>
            </div>
          ))
        }
      </div>
    </Section>
  </div>
  <FeaturedTalksCallout />
  <div class="pt-20 md:pt-40">
    <Section classStr="mb-0 pb-0">
      <div class="py-10 md:py-16">
        <HLineText text="More" />
      </div>
      <RecentTalks />
    </Section>
  </div>

  <Testimonials />
  <div class="my-20">
    <HLineText />
  </div>
  <SectionHeader
    title="Invite me"
    subtitle="Have me speak at your event"
    
  />
  <div id="speakerForm">
    <SpeakerFormCallout />
  </div>

  <!-- <section class="my-24" id="speakerForm">
    <div class="grid lg:grid-cols-2 gap-10 items-center">
      <div>
        <h2 class="text-6xl mb-10">Want Me To Speak At Your Event?</h2>
        <Image
          src={speaking}
          alt="James speaking at All Things Open conference"
        />
      </div>
    </div>
  </section> -->
</BaseLayout>
