---
import { Image } from "@astrojs/image/components";

const {testimonial} = Astro.props;
const {data: {name, title, image}} = testimonial;
const { Content, headings } = await testimonial.render();

---

<div class="flex flex-col md:flex-row gap-12 items-center justify-center md:odd:flex-row-reverse">
    <div class="min-w-[260px] ">
        <Image src={image} width={260} height={260} class="rounded-full" format={"webp"} alt={`headshot of ${name}`}/>
    </div>
    <div>
        <div class="mb-6 tracking-wide">
            <Content class="mb-6"/>
        </div>
        <h3 class="text-xl font-bold">{name}</h3>
        <h4 class="text-xl font-light ">{title}</h4>
    </div>
</div>