---
import LinkCard from "../../components/LinkCard.astro";
import Pagination from "../../components/Pagination.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSortedBlogPosts } from "../../utils/blog";

export const prerender = true;

export async function getStaticPaths({ paginate }: any) {
  const posts = await getSortedBlogPosts();
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
const { data: posts } = page;
---

<BaseLayout title="Blog | James Q Quick">
  <h1 class="text-6xl text-brand font-bold mb-10">Blog</h1>
  <Pagination
    next={page.url.next}
    prev={page.url.prev}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
  <div class="flex flex-col gap-10">
    {
      posts.map((post) => (
        <LinkCard
          title={post.data.title}
          date={post.data.pubDate}
          slug={`/blog/${post.slug}`}
        />
      ))
    }
  </div>
  <Pagination
    next={page.url.next}
    prev={page.url.prev}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
</BaseLayout>
