---
import LinkCard from "../../components/LinkCard.astro";
import LinkCardList from "../../components/LinkCardList.astro";
import Pagination from "../../components/Pagination.astro";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSortedBlogPosts } from "../../utils/contentCollections";

export const prerender = true;

export async function getStaticPaths({ paginate }: any) {
  const posts = await getSortedBlogPosts();
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
const { data: posts } = page;
---

<BaseLayout title="Blog | James Q Quick">
  <Section hasYPadding={false}>
        <h1 class="text-6xl text-brand font-bold mb-10">Blog</h1>
        <div class="mb-10"></div>
        <LinkCardList posts={posts} />
        <Pagination
      next={page.url.next}
      prev={page.url.prev}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
    />
  </Section>
</BaseLayout>
