---
import SectionHeader from "@components/SectionHeader.astro";
import LinkCardList from "../../components/LinkCardList.astro";
import Pagination from "../../components/Pagination.astro";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSortedBlogPosts } from "../../utils/contentCollections";
import HeroSection from "@components/HeroSection.astro";

export const prerender = true;

export async function getStaticPaths({ paginate }: any) {
  const posts = await getSortedBlogPosts();
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
const { data: posts } = page;
---

<BaseLayout title="Blog | James Q Quick">
    <HeroSection
        title="Blog"
        hasFullHeight={false}
        subtitle="Articles for web developers!"
        description="I write about modern web development, developer experience, careers, and more!"
        h1AriaLabel="Blog | James Q Quick"
    />
    
    <Section isLight={true}>
        <SectionHeader title={page.currentPage === 1 ? "Latest Posts" : `Page ${page.currentPage}`} >
            <Pagination
            slot="cta"
            next={page.url.next}
            prev={page.url.prev}
            currentPage={page.currentPage}
            lastPage={page.lastPage}
          />
            </SectionHeader>

      <LinkCardList items={posts} />
      <Pagination
      next={page.url.next}
      prev={page.url.prev}
      currentPage={page.currentPage}
      lastPage={page.lastPage}
    />
    </Section>
</BaseLayout>
