---
import BaseLayout from "../layouts/BaseLayout.astro";
import CoursesCallout from "../components/CoursesCallout.astro";
import HeroSection from "@components/HeroSection.astro";
import Section from "@components/Section.astro";
import FeaturedSplitSection from "@components/FeaturedSplitSection.astro";
import { getSortedCourses } from "src/utils/contentCollections";
import SectionHeader from "@components/SectionHeader.astro";
import LinkCardList from "@components/LinkCardList.astro";

export const prerender = true;

const title = "Courses";
const subtitle = `Learn to build for the modern web`;
const description = `Looking to take your web development skills to the next level? Check out my collection of courses, offering something for everyone whether you're a seasoned developer or just getting started.`;

const courses = (await getSortedCourses());
const featuredCourse = courses.splice(0, 1)[0];
---

<BaseLayout title="Courses | James Q Quick">
    <HeroSection title={title} subtitle={subtitle} description={description} hasFullHeight={false}/>
    <FeaturedSplitSection image={featuredCourse.data.coverImage} title={featuredCourse.data.title} description={featuredCourse.data.description} href={featuredCourse.data.link} date={featuredCourse.data.pubDate} />
    <Section hasYPadding={true}>
        <SectionHeader title="More courses"/>
        <LinkCardList items={courses} includeDescription={true} />
    </Section>
</BaseLayout>
