---
import { Image } from "astro:assets";
import { getFormattedDate } from "../utils/dates";
import YouTube from "./YouTube.astro";
import H1 from "./H1.astro";
export interface Props {
  youTubeVideoId?: string;
  coverImage?: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  title: string;
  date: Date;
}

const { youTubeVideoId, coverImage, title, date } = Astro.props;
---

<div class="mb-8">
  {date && <time>{getFormattedDate(date)}</time>}
  <div class="mb-10 mt-1">
    <H1 text={title} />
  </div>
  {youTubeVideoId && <YouTube id={youTubeVideoId} />}
  {
    coverImage && !youTubeVideoId && (
      <Image
        src={coverImage}
        alt={title}
        width={1920 * (2 / 3)}
        height={1080 * (2 / 3)}
        class="rounded-lg"
      />
    )
  }
</div>
