---
import Link from "./Link.astro";
import { Image } from "@astrojs/image/components";
import compressedLogo from "../images/compressed.jpeg";

const heading = "Compressed.fm Podcast";
const body =
  "A weekly podcast all about Web Development and Web Design with a little bit of zest!";
const link = "https://compressed.fm/";
const alt = "Compressed.fm a weekly podcast about Web Development and Design";
---

<div class="flex md:flex-row flex-col items-center gap-10 md:mt-40 mt-20">
  <div>
    <h2 class="text-4xl font-extrabold mb-3">{heading}</h2>
    <p class="leading-8 tracking-wide text-xl font-light mb-4">
      {body}
    </p>
    <Link href={link} text="Listen Now!" classStr="text-2xl" />
  </div>
  <a
    href={link}
    class={`order-first md:order-1  mb-0 hover:-translate-y-1 transition-transform`}
  >
    <Image
      src={compressedLogo}
      alt={alt}
      height={300}
      width={300}
      class={`rounded-lg md:max-w-none w-[200px] sm:w-[300px]`}
    />
  </a>
</div>
