---
import type { CollectionEntry } from "astro:content";
import Section from "./Section.astro";
import FeaturedSplitSection from "./FeaturedSplitSection.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as Props;
const href = `/blog/${post.id}`;
---

<Section tone="elevated" paddingY="default">
  <FeaturedSplitSection
    image={post.data.coverImage}
    title={post.data.title}
    description={post.data.description}
    href={href}
    date={post.data.pubDate}
  />
</Section>
