---
import { Image } from "astro:assets";
import Section from "./Section.astro";

export interface Props {
  title: string;
  tagline: string;
  hasImage?: boolean;
  description?: string;
  hasFullHeight?: boolean;
  image?: ImageMetadata
  imageAlt?: string;
}

const {
  title,
  tagline,
  description,
  hasFullHeight = true,
  image,
  imageAlt
} = Astro.props as Props;
---

<Section hasYPadding={false} >
  <div
    class={`gap-4 gap-y-12 flex flex-col pt-20 lg:items-center lg:flex-row ${
      hasFullHeight ? "lg:h-[calc(100vh-240px)] sm:pb-0" : "py-20"
    } max-w-7xl mx-auto`}
  >
    <div class="lg:w-2/5">
      <h1 class=" mb-4 lg:-mt-24">
        <span class="text-xl md:text-2xl text-brand">{title}</span>
        <span
          class="text-4xl sm:text-6xl block text-white lg:text-8xl xl:mb-8 font-bold leading-[46px] md:leading-[60px] lg:leading-[100px] mb-2"
          aria-label="James Q Quick - developer, speaker, and teacher."
        >
          {tagline}
        </span>
      </h1>
      {description && <p class="opacity-80 text-lg">{description}</p>}
      <slot />
    </div>
    <div class="lg:w-3/5 lg:self-end flex justify-center">

        {
            image && imageAlt && (
                <Image
                src={image}
                height={image.height}
                width={image.width}
                class="max-w-full md:w-[600px] lg:w-[700px]  -mt-24 lg:mt-0"
                alt={imageAlt}
                format="webp"
                loading="eager"
                />
            )
        }
        </div>
  </div>
</div>
