---
import Section from "./Section.astro";
import Rectangle from "./Rectangle.astro";
import H1 from "./H1.astro";

export interface Props {
  title: string;
  subtitle: string;
  description?: string;
  hasFullHeight?: boolean;
  h1AriaLabel?: string;
}

const {
  title,
  subtitle,
  description,
  hasFullHeight = true,
  h1AriaLabel = "James Q Quick - developer, speaker, and teacher."
} = Astro.props as Props;

---

<Section hasYPadding={false} >
  <div
    class={`py-20 flex items-center ${
      hasFullHeight ? "lg:h-[calc(100vh-240px)] lg:py-0" : "md:py-40"
    } `}
  >
  
    <div class="max-w-xl">
      <div class="mb-2 ">
        <p class="text-2xl md:text-3xl text-brand">{title}</p>
        <H1
          text={subtitle}
          ariaLabel={h1AriaLabel}
        />
      </div>
      {description && <p class="opacity-80 text-lg">{description}</p>}
    </div>
    <Rectangle size="medium" border="lightBrand" classStr="hidden md:block absolute -right-10 top-[200px] " />
    <Rectangle size="medium" border="brand" classStr="hidden md:block absolute right-10 top-[280px]"  />
</div>
