---
import { CollectionEntry } from "astro:content";
import LinkCard from "./LinkCard.astro";

export interface Props {
  items: CollectionEntry<"blog" | "course">[];
  includeDescription?: boolean;
}

const { items, includeDescription } = Astro.props;
---

<div class="grid gap-16 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mb-16">
  {
    items.map((item) => (
      <LinkCard
        title={item.data.title}
        date={item.data.pubDate}
        slug={`/blog/${item.id}`}
        tag={item.data.tags[0]}
        image={item.data.coverImage}
        description={includeDescription ? item.data.description : undefined}
      />
    ))
  }
</div>
