---
import { getFormattedDate } from "../utils/dates";
import Button from "./Button.astro";
import javascript from "../images/blog/logos/javascript.png";
import react from "../images/blog/logos/react.png";
import sveltekit from "../images/blog/logos/sveltekit.png";
import vscode from "../images/blog/logos/vscode.png";
import nodejs from "../images/blog/logos/nodejs.png";
import chatgpt from "../images/blog/logos/chatgpt.png";
import { Image } from "@astrojs/image/components";

export interface Props {
  slug: string;
  title: string;
  date: Date;
  btnText?: string;
  tag?: string;
  image?: string;
}

const { slug, date, title, btnText = "Read", tag, image } = Astro.props;
const tagToLogo = {
  javascript,
  vscode,
  sveltekit,
  react,
  nodejs,
  chatgpt,
};
---

<div
  class="bg-bgDark overflow-hidden relative rounded-3xl text-300 flex flex-col sm:justify-start"
>
  <div class="flex items-center justify-center w-full object-cover">
    <img src={image} />
  </div>

  <!-- <img src={image} /> -->
  <div class="p-10 lg:p-10">
    <p class="mb-2">{getFormattedDate(date)}</p>
    <!-- <div class="flex items-center justify-between gap-x-10"> -->
    <a href={slug} class="grow">
      <h2
        class="text-white hover:text-brand text-2xl xl:text-4xl transition-colors font-light mb-2"
      >
        {title}
      </h2>
    </a>
    <!-- {
        tag && tagToLogo[tag] && (
          <Image
            src={tagToLogo[tag]}
            alt={`Cover`}
            class="invisible md:visible w-8 lg:w-16 "
          />
        )
      } -->
    <!-- </div> -->
  </div>
</div>
