---
import { getFormattedDate } from "../utils/dates";
import Button from "./Button.astro";
import javascriptLogo from "../images/js.png"
import { Image } from "@astrojs/image/components";

export interface Props {
    slug: string;
    title: string;
    date: Date;
    btnText?: string;
    tag?: string
}

const { slug, date, title, btnText="Read", tag } = Astro.props;

const tagToLogo = {
    "javascript": javascriptLogo
}

let titleParts:string[] = [];
if(title.includes("-")){
    titleParts = title.split('-')
}
---

<div class="bg-bgDark overflow-hidden  rounded-3xl text-300 flex items-stretch flex-col lg:flex-row justify-center lg:justify-start ">
{tag && tagToLogo[tag] && <Image src={tagToLogo[tag]} width={300} alt={`Cover`} class="max-w-xs object-cover"/>}

    <div class="py-20 px-20">
      <h2 class=" text-brand text-4xl font-light mb-2">{titleParts[0] || title}</h2>
      {titleParts[1] &&
      <p class="mb-2 text-2xl">{titleParts[1]}</p>
    }
      <p class="mb-10">{getFormattedDate(date)}</p>
      <Button text={btnText} isLink href={slug}/>
    </div>
</div>
