---
import { getFormattedDate } from "../utils/dates";
import javascript from "../images/blog/logos/javascript.png";
import react from "../images/blog/logos/react.png";
import sveltekit from "../images/blog/logos/sveltekit.png";
import vscode from "../images/blog/logos/vscode.png";
import nodejs from "../images/blog/logos/nodejs.png";
import chatgpt from "../images/blog/logos/chatgpt.png";
import { Image } from "astro:assets";
export interface Props {
  slug: string;
  title: string;
  date: Date;
  btnText?: string;
  tag?: string;
  image?: {
    height: number;
    src: string;
    width: number;
    format: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
  };
}

const { slug, date, title, btnText = "Read", tag, image } = Astro.props;
const tagToLogo = {
  javascript,
  vscode,
  sveltekit,
  react,
  nodejs,
  chatgpt,
};
---

<div class="overflow-hidden">
  <!-- <div class="flex items-center justify-center w-full object-cover mb-4">
    <a href={slug} class="grow hover:underline">
      <Image
        height={540}
        width={960}
        src={image}
        class="rounded-2xl"
        alt={title}
      />
    </a>
  </div> -->

  <p class="mb-1">{getFormattedDate(date)}</p>
  <a href={slug} class="grow hover:underline">
    <h3
      class="text-white font-bold hover:text-brand text-2xl transition-colors mb-2"
    >
      {title}
    </h3>
  </a>
</div>
<!-- {
        tag && tagToLogo[tag] && (
          <Image
            src={tagToLogo[tag]}
            alt={`Cover`}
            class="invisible md:visible w-8 lg:w-16 "
          />
        )
      } -->
<!-- </div> -->
