---
import { CollectionEntry } from "astro:content";
import LinkCard from "./LinkCard.astro";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<div class="grid gap-10 mb-16">
  {
    posts.map((post) => (
      <LinkCard
        title={post.data.title}
        date={post.data.pubDate}
        slug={`/blog/${post.id}`}
        tag={post.data.tags[0]}
        image={post.data.coverImage}
      />
    ))
  }
</div>
