---
import Button from "./Button.astro";

export interface Props {
    currentPage: number;
    lastPage: number;
    next: string | undefined;
    prev: string | undefined;
}


const {currentPage, lastPage, next, prev} = Astro.props;
---
<div class="flex justify-between my-10">

        <Button text="Previous" classStr={currentPage <= 1 ? 'invisible': ''} isLink={true} newTab={false} href={prev} />

    {
        currentPage < lastPage &&
        <Button text="Next" isLink={true} newTab={false} href={next} />
    }

</div>
