---
import Icon from "astro-icon";

export interface Props {
  includeHandle?: boolean;
  size?: IconSize;
}

export enum IconSize {
  Small = "h-6",
  Medium = "h-8",
  Large = "h-10",
}

const { includeHandle, size = IconSize.Large } = Astro.props;
---

<div
  class={`flex flex-row md:items-center gap-4 ${
    size === IconSize.Large ? "gap-8" : "gap-4"
  }`}
>
  {includeHandle && <p class="text-lg">@jamesqquick</p>}

  <a
    class="hover:-translate-y-1 transition-transform cursor-pointer"
    href="https://www.youtube.com/c/jamesqquick"
  >
    <Icon name="teenyicons:youtube-outline" class={size} /></a
  >
  <a
    class="hover:-translate-y-1 transition-transform cursor-pointer"
    href="https://twitter.com/jamesqquick"
  >
    <Icon name="teenyicons:twitter-outline" class={size} /></a
  >
  <a
    class="hover:-translate-y-1 transition-transform cursor-pointer"
    href="https://www.tiktok.com/@jamesqquick"
  >
    <Icon name="teenyicons:tiktok-outline" class={size} /></a
  >
  <!-- <a
    class="hover:-translate-y-1 transition-transform cursor-pointer"
    href="https://learnbuildteach.com/"
  >
    <Icon name="teenyicons:discord-outline" class={iconSize} /></a
  > -->
  <a
    class="hover:-translate-y-1 transition-transform cursor-pointer"
    href="https://www.twitch.tv/jamesqquick"
  >
    <Icon name="teenyicons:twitch-outline" class={size} /></a
  >
</div>
