---
import ArticleHeader from "../components/ArticleHeader.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    coverImage?: string;
    youTubeVideoId?: string;
  };
}

const {
  frontmatter: { title, description, pubDate, youTubeVideoId, coverImage }, 
} = Astro.props as Props;

---

<BaseLayout title={title} description={description} image={coverImage}>
  <main>
    <article class="prose prose-invert prose-xl max-w-none prose-h2:text-brand prose-img:rounded-lg prose-p:text-white">
      <ArticleHeader
        coverImage={coverImage}
        title={title}
        date={pubDate}
        youTubeVideoId={youTubeVideoId}
      />
      <slot />
    </article>
  </main>
</BaseLayout>
