---
import { getImage } from "astro:assets";
import ArticleHeader from "../components/ArticleHeader.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    coverImage?: {
      src: string;
      width: number;
      height: number;
      format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
    };
    youTubeVideoId?: string;
  };
}

const {
  frontmatter: { title, description, pubDate, youTubeVideoId, coverImage },
} = Astro.props as Props;

const { src: imageURL } = await getImage({ src: coverImage });
---

<BaseLayout title={title} description={description} image={imageURL}>
  <main class="max-w-6xl mx-auto px-8">
    <article
      class="prose prose-invert prose-xl max-w-none prose-h2:text-brand prose-img:rounded-lg prose-p:text-white"
    >
      <ArticleHeader
      
      title={title}
      date={pubDate}
      youTubeVideoId={youTubeVideoId}
      />
      <slot />
    </article>
  </main>
</BaseLayout>
