---
import { XataClient } from "src/xata";
import BaseHead from "../components/BaseHead.astro";
import SocialFollow, { IconSize } from "../components/SocialFollow.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Logo from "../images/logo.astro";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});
let settings = await xata.db.settings
  .select([
    "title",
    "sponsor1.*",
    "sponsor2.*",
    "sponsor3.*",
    "guestName",
    "guestTitle",
  ])
  .getFirst();

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  includeLogo?: boolean;
}

const { title, description, image, includeLogo = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
  </head>
  <body class="w-[1920px] h-[1080px]">
    <main class="h-full relative">
      {
        includeLogo && (
          <div class="absolute top-8 right-8 z-10 fill-white">
            <Logo classStr="w-24 h-24" />
          </div>
        )
      }

      <div class="flex items-center h-full flex-col justify-between">
        <div></div>
        <slot />
        <footer
          class="h-16 flex gap-x-8 items-center text-white pb-8 justify-between w-full px-10"
        >
          <div class="w-[400px]">
            <span class="flex w-min flex-col items-center gap-y-1">
              <span class="text-2xl">@jamesqquick</span><SocialFollow
                size={IconSize.Small}
              />
            </span>
          </div>
          <p class="text-2xl font-bold">{settings?.title}</p>
          <p class="flex items-center justify-end gap-x-4 w-[400px]">
            <img class="h-10" src={settings?.sponsor1?.logo?.url} />
            <img class="h-10" src={settings?.sponsor2?.logo?.url} />
            <img class="h-6" src={settings?.sponsor3?.logo?.url} />
          </p>
        </footer>
      </div>
    </main>
  </body>
</html>
